
    p {
        color: red;
        width: 300px;
      }

      /**
      ESTO ES UN COMENTARIO EN CSS

      */



    h1 {
        
        border: 10px solid black; 
        padding: 5px;
        margin: 30px   ;
        font-weight: bold;
        color: green;
         }
